<a href="/child_table_name">Child Table Name Index</a>

<h1><%= @ice_cream_type.name %></h1>
<h3> Ice cream/Alternative name:</h3>
<p><%= @ice_cream_type.name %></p>
<h3> Is this ice cream nut free?:</h3>
<p><%= @ice_cream_type.nut_free %></p>
<h3> Calories per scoop:</h3>
<p><%= @ice_cream_type.calories_per_scoop%></p>
<h3> Ice cream created at:</h3>
<p><%= @ice_cream_type.created_at%></p>
<h3> Ice cream last updated at:</h3>
<p><%= @ice_cream_type.updated_at%></p>
