<%= link_to "Flavors", "/flavors" %>
<%= link_to "Shops", "/shops" %>

<h2><%= "Flavors available at #{@shop.name}:" %></h2>

<% if @shop.flavors.count < 1 %>
  <b><%= "There are no flavors available at this time"%></b>
<% end %>

<% @flavors.each do |flavor| %>
<h3><u><%= "#{flavor.name.capitalize}" %></u></h3>
<h5><%= "Is this flavor nut free? #{flavor.nut_free}"%></h5>
<h5><%= "Amount of calories per scoop: #{flavor.calories_per_scoop}" %></h5>
<% end %>
<br></br>
<h3><%= link_to "Create New Flavor", "/shops/#{@shop.id}/flavors/new" %></h3>
<h3><%= link_to "Sort Flavors Alphabetically", "/shops/#{@shop.id}/flavors"  %></h3>
