<%= link_to "Flavors", "/flavors" %>
<%= link_to "Shops", "/shops" %>

<h1><%= @shop.name %></h1>
<h3> Shop name:</h3>
<p><%= @shop.name %></p>
<h3> Do they serve ice cream alternatives?:</h3>
<p><%= @shop.has_ice_cream_alternatives %></p>
<h3> Shop's Google review rating:</h3>
<p><%= @shop.google_review_rating%></p>
<h3> Shop created at:</h3>
<p><%= @shop.created_at%></p>
<h3> Shop last updated at:</h3>
<p><%= @shop.updated_at%></p>

<h3> Number of flavors at this shop:</h3>
<p><%= @count %></p>
<%= link_to "Flavors at this shop", "/shops/#{@shop.id}/flavors" %>
<%= link_to "Update Shop", "/shops/#{@shop.id}/edit" %>
<%= button_to "Delete Shop", "/shops/#{@shop.id}", method: :delete %>
