<%= link_to "Flavors", "/flavors" %>
<%= link_to "Shops", "/shops" %>
<h1>Welcome to Relational Rails</h1>

<ul>
  <li><%= link_to "Shops", "/shops" %></li>
  <li><%= link_to "Create New Shop", "/shops/new" %></li>
  <li><%= link_to "Flavors", "/flavors" %></li>
  <li><%= link_to "Garages", "/garages" %></li>
  <li><%= link_to "Vehicles", "/vehicles" %></li>
</ul>

