<a href="/parents">Parents Index</a>

<h1><%= @parent.name %></h1>
<h3> Shop name:</h3>
<p><%= @parent.name %></p>
<h3> Do they serve ice cream alternatives?:</h3>
<p><%= @parent.has_ice_cream_alternatives %></p>
<h3> Shop's Google review rating:</h3>
<p><%= @parent.google_review_rating%></p>
<h3> Shop created at:</h3>
<p><%= @parent.created_at%></p>
<h3> Shop last updated at:</h3>
<p><%= @parent.updated_at%></p> 
